server {
        listen   80;
	location /api {
		proxy_pass http://backend:8080;
	}
    location / {
            root /usr/share/nginx/html;
            index  index.html index.htm;
    }
    location /logout {
    		proxy_pass http://backend:8080;
	}
    location /callback {
		proxy_pass http://backend:8080;
	}
    location /login {
		proxy_pass http://backend:8080;
	}
}